<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% set versionecor = versione_tag_git() %} 
        <title>{% block title %}{{appname}} - ver.{{versionecor}}-{{app.environment}} {% endblock %} </title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        {% block head %}

            {% set vars = {'versionecor': versionecor} %}
            {{ include('@FiCore/Default/css.html.twig', vars) }}
            {% block css %}
            {% endblock %}

            {{ include('@FiCore/Default/javascripts.html.twig', vars) }}
            {% block javascripts %}
            {% endblock %}

        {% endblock %}
    </head>

    <body>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Messaggio</em>: {{ flashMessage }}
            </div>
        {% endfor %}
        {% block menu %}
            {#{ render(controller('generamenu')) }#}
        {% endblock %}

        {% block contextMenu %}
            {{ include('@FiCore/Menu/contextMenu.html.twig') }}
            {{ include('@FiCore/Menu/contextMenuCampo.html.twig') }}
        {% endblock %}

        {% block fibody %}
            <div id="nascosto" class="nascosto">
            </div>
            <div class="overlay" id="overlay" style="display:none;"></div>
            <div id="testata" class="ui-widget"></div>

            <div id="dialog"><div id="testodialog"></div></div>

            <div id="Primo" class="cornici">
                <table id="menu" class="ui-layout-west"></table>
            </div>
            <div id="Secondo" class="cornici">
                <div id="corpo" class="ui-widget">
                    <div class="block">
                    {% block content %}{% endblock %}
                </div>
                <div id="notecorpo" class="ui-widget ui-widget-content ui-jqdialog ui-corner-all"></div>
            </div>
        </div>
    {% block body %}{% endblock %}
{% endblock %}
{% block waiting %}
    <div class="waiting_div" style="display: none"><img src="{{ asset('bundles/ficore/images/waitpage.gif') }}" alt="wait"></div>
    {% endblock %}
</body>
</html>