<div id="testatadettaglio" class="ui-jqdialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">Modifica {{nomecontroller}}
    <a class="fi-default-chiudi ui-jqdialog-titlebar-close ui-corner-all ui-state-hover" onclick="chiudiDettaglio({overlayclose: 1});" style="right: 0.3em;"><span class="ui-icon ui-icon-closethick"></span></a>
</div>

<div id="corpodettaglio" class="ui-jqdialog-content ui-widget-content">
    {% if (errori is defined and errori is not null)  %}
        <ul class="error_list">
            <li>{{ errori  }}</li>
        </ul>
    {% endif  %}

    {% set vars = {'form': edit_form,"tipo":"edit"} %}
    {% include 'FiCoreBundle:Standard:form.html.twig' with vars %}

    <div id="bottoni" class="acapo" style="padding-top: 1em">
        <p>
            {% if ("u" | permesso) %}
                <a class="fi-default-salva fm-button ui-state-default ui-corner-all fm-button-icon-left" id="sData{{nomecontroller}}S" onclick="presubmit('formdati{{nomecontroller}}');">Salva<span class="ui-icon ui-icon-disk"></span></a>
                {% endif %}
                {% if ("d" | permesso) %}
                <a class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="sData" onclick="eliminaDettaglio({'overlayclose': 1, 'tabella': '{{nomecontroller}}', 'id': '{{ entity.id }}'});">Elimina<span class="ui-icon ui-icon-trash"></span></a>
                {% endif %}
        </p>
    </div>
</div>

<script type="text/javascript">


    var validato = false;
    $("#formdati{{nomecontroller}}").submit(function (e) {
        e.preventDefault();
        validato = true;
        return false;
    });

    $("#sData{{nomecontroller}}S").click(function () {
        if (validato) {
            salvaDettaglio({'tabella': '{{nomecontroller}}', 'formdati': '#formdati{{nomecontroller}}', 'id': '{{ entity.id }}'});
        }
    });

    $("#sData{{nomecontroller}}D").click(function () {
        eliminaDettaglio({'tabella': '{{nomecontroller}}', 'id': '{{ entity.id }}'});
    });

    $(function () {
        $(".ficorebundle_datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });

        $(".accessostorico").contextMenu('campoMenu', {
            zIndex: 999,
            bindings: {
                'storicomodifiche': function (trigger) {

                    var regExp = /\[(.*?)\]/g;
                    var matches = regExp.exec($(trigger)[0].name);

                    mostrastorico('{{ path('Storicomodifiche_modifiche') }}', '{{nomecontroller}}', matches[1], '{{ entity.id }}');
                }
            }
        });



    });
</script>
